<h1>Cloning Project</h1>

<h2>Note that after clicking the "clone project" button, it can take a while...</h2>
<p>...like many minutes, to clone your project! Keep this browser window open and computer on. Go get some coffee. Or check Facebook. Or something.</p>
<p>When it completes you'll see a list of projects, including the new one!</p>

<%= "Project to Clone: #{@remote_project.name}" %>
<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

<script type="text/javascript">
  $('#new_project').submit(function() {
    $('#new_project').hide();
    $('#cloning_message').show();
  });
</script>
